:root {
  --black: #000000;
  --primary: #a06be0;
  --gray: #999;
  --white: #eceff1;
  background-color: var(--black);
  color: var(--white);
  font: 20px "Inconsolata", monospace;
}
* {
  box-sizing: border-box;
}
body {
  background: #000;
  display: grid;
  grid: auto-flow / 1fr minmax(16em, 40em) 1fr;
  grid-gap: 1rem;
  margin: 0 0 10vh 0;
}
mark {
  color: var(--primary);
  background-color: unset;
}
time,
span {
  color: var(--gray);
}
a,
a:hover,
a:visited {
  color: inherit;
  font-weight: 700;
  text-decoration: underline;
}

blockquote {
  margin: 1em;
  padding: 0.25em 1em;
  border-left: 1ch solid var(--gray);
}

ul {
  list-style: none;
  margin: 0;
}
ul > * {
  margin: 0.5em;
}
ul > li:before {
  content: "»";
  margin: 0 1ch 0 -3ch;
  position: absolute;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 0.25em 0;
}
p {
  margin: 0.25;
}

/* layout */
body > * {
  grid-area: auto / 2 / auto / span 1;
}
.gist {
  grid-area: auto / 1 / auto / -1;
}
